---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "ecrosstexas_dot_com",
  "short_name": "ecrosstexas_dot_com",
  "display": "standalone",
  "start_url": "/"
}
